/* https://app.haikei.app/ */

/* H E A D E R */
.header{
    height: 80vh;
    background-color: #304ed4;
}

.header__box{
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 2;
}

.header__info  {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: .5rem;
    color: #fff;
}

.header__button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.header__button a{
    color: #fff;
    padding: 10px 20px;
    border-radius: 24px;
    background-color: #f7b733;
    cursor: pointer;
    text-align: center;
}

.header__button a:hover{
    transform: scale(1.1);
}

.header__button a:nth-child(1){
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 1rem;
}
/* H E A D E R */
/* I N F O */
#container__info{
    margin: 50px 15%;
    height: 40vh;
    display: flex;
    justify-content: space-between;
}

#container__info > div{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #f7b733;
    max-height: 100%;
    width: 100%;
    margin: 0 1rem;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

#container__info h1{
    font-size: 150%;
}

#container__info p{
    font-size: 80%;
}
/* I N F O */
/* M O N E Y */
#cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    height: 100vh;
}

.container__coin{
    margin: 10% 0;
    border-radius: 20px;
    background-color: transparent;
}

.input__coin{
    max-width: 400px;
    /* background-color: var(--primary-color); */
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

.input__coin:first-child{
    border-radius: 20px 20px 0 0;
}

.input__coin:nth-child(5){
    border-radius: 0 0 20px 20px;
}

.container__coin button{
    background-color: var(--secondary-color);
    color: #fff;
    border: 0;
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 20px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.container__coin .input__coin{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container__coin img{
    height: 80px;
}
/* M O N E Y */